@import "../styles/variables.scss";

.navbar {
  overflow-x: scroll;
  padding: 0 $spacer * 6 0 $spacer * 2;
  &::-webkit-scrollbar {
    display: none;
  }
  .navbarNav {
    display: flex;
    margin: 0;
    .navItem {
      position: relative;
      .navLink {
        color: $gray-1;
        display: inline-block;
        font-size: $size-10;
        font-weight: $weight-1;
        height: 36px;
        line-height: 1;
        padding: 9px $spacer * 2 0;
        text-decoration: none;
        vertical-align: top;
        white-space: nowrap;
        @include media-query(md) {
          align-items: center;
          display: flex;
          font-size: $size-9;
          height: 48px;
          padding: 0 $spacer * 4;
        }
        &::before {
          bottom: 0;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          width: 100%;
        }
        &:hover {
          color: $black;
        }
        &:hover::before {
          background-color: $black;
        }
      }
      .isActive {
        color: $black;
        &::before {
          background-color: $black;
        }
      }
    }
  }
}
