/* Buttons */
.btnPrimary {
  background-color: var(--primary);
  color: var(--white);
}

/* Spacing */
.ml4 {
  margin-left: calc(var(--spacer) * 4);
}

.mr1 {
  margin-right: calc(var(--spacer) * 1);
}

/* Borders */
.border4 {
  border: solid 1px var(--gray4);
}

.roundedCircle {
  border-radius: 50%;
}
