// Colors
$black: #222;
$gray-1: #6f7372;
$gray-2: #a8abb1;
$gray-3: #ccc;
$gray-4: #e6e6e6;
$gray-5: #f2f2f2;
$gray-6: #f7f9f9;
$gray-7: #fff;
$white: #fff;
$primary: #2cb696;

// Fonts
$size-1: 32px;
$size-2: 30px;
$size-3: 26px;
$size-4: 24px;
$size-5: 22px;
$size-6: 20px;
$size-7: 18px;
$size-8: 16px;
$size-9: 14px;
$size-10: 13px;
$size-11: 12px;
$weight-1: 700;
$weight-2: 400;

// Spacing
$spacer: 4px;

// Borders
$radius: 4px;
